/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Basic Styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333;
  }
  
  /* Layout */
  .container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Sidebar */
  .sidebar {
    width: 350px;
    background-color: #202123;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  span {
    content: "\002B";
    float: right;
    font-size: 20px;
    padding: 0px;
  }
  
  .sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .new-chat-btn {
    background-color: #4a4a4a;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: left;
    font-size: 15px;
  }
  
  .new-chat-btn:hover {
    background-color: #5a5a5a;
  }
  
  .chat-history {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .chat-item {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #333;
    cursor: pointer;
  }


  
  .chat-item:hover {
    background-color: #444;
  }
  
  .sidebar-footer button {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
  }
  
  .sidebar-footer button:hover {
    color: white;
  }
  
  /* Chat Area */
  .chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url("/static/images/mars.jpg");
  }
  
  .chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .chat-bubble {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
    position: relative;
  }
  
  .chat-bubble.user {
    background-color: #1f0211;
    align-self: flex-end;
    float: left;
    width: 40%;
    color: white;
    margin: 30px;
    border: 1px solid white;
  }
  
  .chat-bubble.ai {
    align-self: flex-start;
    float: right;
    width: 40%;
    background-color: #352102;
    margin-right: 20%;
    color: white;
    border: 1px solid white;
  }
  .clipboard{
    width: 25px;
    height: 25px;
    float: right;
    margin-left: 10px;
    cursor: pointer;
  }
  .clipboard:hover{
    border: 2px solid rgb(161, 24, 211);
  }

  .user-feedback{
    width: 25px;
    height: 25px;
    float: right;
    margin-left: 10px;
    cursor: pointer;
  }
  .user-feedback:hover{
    border: 2px solid rgb(94, 195, 246);
  }

  .thumbs-down{
    width: 25px;
    height: 25px;
    float: right;
    cursor: pointer;
  }
  .thumbs-down:hover{
    border: 2px solid rgb(206, 9, 9);
  }

  .thumbs-up{
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
  }
  .thumbs-up:hover{
    border: 2px solid rgb(26, 233, 26);
  }
  
  /* Input Area */
  .input-area {
    padding: 10px;
    background-color: #161616;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .input-area textarea {
    flex: 1;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    resize: none;
    height: 50px;
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .send-btn {
    background-color: #202123;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .send-btn:hover {
    background-color: #333;
  }
  
  /* Scrollbar Styling */
  .chat-history, .chat-box {
    scrollbar-width: thin;
    scrollbar-color: #555 #202123;
  }
  
  .chat-history::-webkit-scrollbar, .chat-box::-webkit-scrollbar {
    width: 6px;
  }
  
  .chat-history::-webkit-scrollbar-track, .chat-box::-webkit-scrollbar-track {
    background: #202123;
  }
  
  .chat-history::-webkit-scrollbar-thumb, .chat-box::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
  }

#feedback-textarea{
    width: 1000px;
    height: 100px; 
    font-family: Arial, Helvetica, sans-serif; resize: none;
    background-color: rgb(75, 75, 75);
    color: white;
}

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
  .modal-content {
    background-color: #272626;
    margin: auto;
    padding: 20px;
    color: white;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    text-align: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

#feedback-submit-button{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 15px 35px;
    font-size: 20px;
    cursor: pointer;
}

#feedback-submit-button:hover{
    background-color: rgb(8, 159, 8);
}

@keyframes customBlink {
    0%, 100% { font-size: 16px; color: rgb(63, 62, 62); }
    50% { font-size: 16px; color: rgb(217, 217, 221); }
  }
  
#status_message {
    animation: customBlink 2s linear infinite;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.loader {
    border: 5px solid #404040;
    border-radius: 50%;
    border-top: 5px solid #e5e6e7;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.temperature_container {
    width: 100%;
    margin-bottom: 30px;
}

#temperature_slider {
    -webkit-appearance: none; /* Remove default styling */
    width: 100%; /* Adjust the width as needed */
    height: 8px; /* Adjust the track height */
    background: linear-gradient(to right, #3e3e3e, #f43a14); /* Change the track color */
    border-radius: 5px; /* Rounded track */
    outline: none; /* Remove the outline */
  }
  
  /* Style the thumb (handle) */
  #temperature_slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    width: 20px; /* Adjust handle width */
    height: 20px; /* Adjust handle height */
    background-color: #828582; /* Handle color */
    border-radius: 50%; /* Rounded handle */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  /* Style for other browsers (Firefox) */
  #temperature_slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #696a69;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #temperature_slider::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: #6f706f;
    border-radius: 50%;
    cursor: pointer;
  }

.timestamp{
    color: #6f706f;
    font-style: italic;
    font-size: 15px;
}
  