<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NASA News Bot</title>
  <link rel="icon" type="image/x-icon" href="/static/images/nasa-logo.png">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<script>
    const websocketUrl = '{{ websocket_url }}'
    const user_id = '{{ user_id }}'
    const conversations = JSON.parse('{{ conversations|safe }}');
    const message_history = JSON.parse('{{ message_history|safe }}');
</script>
<body>
<div id="feedback-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h3>Please give us some feedback:</h3>
      <br><br>
      <textarea id="feedback-textarea" placeholder="Write your feedback..."></textarea>
      <br><br><br>
      <div style="text-align: center;">
      <button id="feedback-submit-button" onClick="submitFeedback()">Submit</button>
      </div>
    </div>
  </div>
  <div class="container">
    <aside class="sidebar">
      <div style="margin-bottom: 20px;">
        <h2 style="position: relative; display: inline-block;">NASA News Bot</h2>
        <img src="/static/images/nasa-logo.png" height="60px" width="70px" style="position: relative; display: inline-block; vertical-align: bottom; margin-left: 15%;">
      </div>
      <button class="new-chat-btn" onclick="addConversation()">New Chat<span>&#43;</span></button>
      <div class="chat-history">
      </div>
      <footer class="sidebar-footer">
        <button>Settings</button>
        <button>Log Out</button>
      </footer>
    </aside>

    <main class="chat-area">
      <div class="chat-box" id="chat-box">
        <div class="chat-bubble ai", id="chat-bubble-ai">
        <p>Hello! How can I help you today?</p>
        <img src="/static/images/like.png" width="25px;" height="25px;">
        </div>
      </div>
      <div class="input-area">
        <textarea id="user-input" placeholder="Type your message..."></textarea>
        <button class="send-btn" onclick="sendUserQueryToBackend()">Send</button>
      </div>
    </main>
  </div>
  <script src="/static/js/nasa.js"></script>
</body>
</html>